<a id="TOP" name="TOP"></a>
<header class="home"><!-- HEADER -->
<div class="container">
<div class="onecol">	
<a class="logo" href="/">Transformation Tools</a>
<button class="nav-button">Toggle Navigation</button>
<ul class="menu">
<li><a href="/about" >ABOUT</a></li>
<li><a href="/profile" >PROFILE</a></li>
<li><a href="/news" >NEWS</a></li>
<li><a href="/project" >PROJECT</a></li>
<li><a href="/login" >LOG IN</a></li>
<li><a href="http://audiocybernetic.cart.fc2.com" target="_blank">SHOP</a></li>
<li><a href="/contact" >CONTACT</a></li>
</ul>
</div>
</div>
</header><!-- /HEADER -->

<h1>ブログ</h1>



<ul>
	<% @projects.each do |project|%>
	<li>
		<%= link_to project.title, project_path(project.id) %>
		<span style="padding-left: 20px">
		<%= project.tweet %>
		<%= image_tag project.avatar(:medium) %>
		</span>
	</li>
	<% end %>

</ul>

<%= link_to "Add new", new_project_path %>