/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body, html {
    height: 100%;
    font-size: 16px;
    font-family: 'Quicksand',"ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro W3",Arial,Helvetica;
    background-color: rgb(57, 174, 92);
    margin-top: 20px;
}

 html, body {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 980px;
    height: auto;
    margin: 0px auto;
    padding: 0px 12px;
    overflow: hidden;
}

.content{
	height:160px;
	margin-bottom: 20px;
}


p.tweet{
	float:right;
	width:800px;
}

p.img{
	float:left;
	width:140px;
}

p.legal {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
    font-size: 90%;
}

footer {
    width: 100%;
    background-color: rgb(37, 141, 200);
    border-top: 1px solid rgb(188, 188, 188);
    overflow: hidden;
    padding-top: 70px;
    margin-top: 120px;
}

.footer_img {
	margin: 0px auto 2%;
	text-align: center;
}
	